body {
    background-color: lightblue;
}

header {
    background-image: linear-gradient(#3ea0c7, #90c2df);
}

.search {
    background-color: #ebebeb;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#search {
    background-image: linear-gradient(#73c4e4, #a8d1e9);
    margin-left: 2px;
}

.currentCard {
    border: #8f8f8f solid 1px;
    background-image: linear-gradient(#3ea0c7, #90c2df);
    padding: 10px;
}

.forecastCard {
    border: #8f8f8f solid 1px;
    background-image: linear-gradient(#3ea0c7, #90c2df);
    padding: 10px;
}

.forecast {
    padding: 15px;
}

.city-button {
    border: #8f8f8f solid 1px;
    border-radius: 5px;
    background-image: linear-gradient(#73c4e4, #a8d1e9);
    display: block;
    padding: 10px;
    margin-top: 5px;
}

.low {
    background-color: #079607;
    border: #079607 solid 1px;
    border-radius: 5px;
}

.moderate {
    background-color: #e0ee1a;
    border: #e0ee1a solid 1px;
    border-radius: 5px;
}

.high {
    background-color: #dd9120;
    border: #dd9120 solid 1px;
    border-radius: 5px;
}

.very-high {
    background-color: #ee300e;
    border: #ee300e solid 1px;
    border-radius: 5px;
}
