header {
    background-image: linear-gradient(#06813a, #0fb950);
}

.search {
    background-color: #ebebeb;
    padding: 20px;
}

.currentCard {
    border: #8f8f8f solid 1px;
    background-color: #ebebeb;
    padding: 10px;
}